name: Build Mihomo Releases

on:
  workflow_dispatch:
  repository_dispatch:
    types: [release]

env:
  MIHOMO_URL: https://github.com/MetaCubeX/mihomo
  METACUBEXD_URL: https://github.com/MetaCubeX/metacubexd
  MIHOMO_BRANCH: Alpha
  METACUBEXD_BRANCH: main
  BUILD_TAGS: -extldflags --static

jobs:
  build:
    name: build ${{ matrix.arch }} mihomo
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64
          - windowst
          - metacubexd

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup environment and calculate version
      run: |
        sudo timedatectl set-timezone 'Asia/Shanghai'
        echo build_dir="/builder" >> "$GITHUB_ENV"
        latest_tag=$(curl -s "https://api.github.com/repos/Xiaokailnol/mihomo-template/releases/latest" | jq -r '.tag_name // "1.0.0"')
        latest_tag="${latest_tag#v}"
        IFS='.' read -r major minor patch <<< "$latest_tag"
        patch=$((patch + 1))
        if [ "$patch" -gt 10 ]; then
            patch=0
            minor=$((minor + 1))
        fi
        if [ "$minor" -gt 10 ]; then
            minor=0
            major=$((major + 1))
        fi
        VERSION="$major.$minor.$patch"
        echo "VERSION=$VERSION" >> "$GITHUB_ENV"
        echo "Build version: $VERSION"

    - name: Show system info
      uses: Xiaokailnol/actions@show-system

    - name: Free disk space
      uses: Xiaokailnol/actions@free-disk
      with:
        build-mount-path: /builder

    - name: Build System Setup
      uses: Xiaokailnol/actions@mihomo-build-setup

    - name: Clone Source Code
      working-directory: /builder
      id: clone
      run: |
        if [ "${{ matrix.arch }}" == "metacubexd" ]; then
          git clone $METACUBEXD_URL -b $METACUBEXD_BRANCH metacubexd
        else
          git clone $MIHOMO_URL -b $MIHOMO_BRANCH mihomo
          cd mihomo && mkdir output
          COMMIT_AUTHOR=$(git show -s --date=short --format="作者: %an")
          echo "COMMIT_AUTHOR=$COMMIT_AUTHOR" >> $GITHUB_ENV
          COMMIT_DATE=$(git show -s --date=short --format="时间: %ci")
          echo "COMMIT_DATE=$COMMIT_DATE" >> $GITHUB_ENV
          COMMIT_MESSAGE=$(git show -s --date=short --format="内容: %s")
          echo "COMMIT_MESSAGE=$COMMIT_MESSAGE" >> $GITHUB_ENV
          COMMIT_HASH=$(git show -s --date=short --format="hash: %H")
          echo "COMMIT_HASH=$COMMIT_HASH" >> $GITHUB_ENV
          echo "BUILDTIME=$(date)" >> $GITHUB_ENV
        fi
        echo "status=success" >> ${GITHUB_OUTPUT}

    - name: Compile Packages
      if: ${{ matrix.arch != 'metacubexd' }}
      id: compile
      working-directory: /builder
      run: |
        cd mihomo
        go env
        if [ "${{ matrix.arch }}" == "amd64" ] || [ "${{ matrix.arch }}" == "arm64" ]; then
          go build -v -trimpath -o output/mihomo \
            -tags "with_gvisor" \
            -trimpath \
            -ldflags "${BUILD_TAGS} -X 'github.com/metacubex/mihomo/constant.Version=${VERSION}' -X 'github.com/metacubex/mihomo/constant.BuildTime=${BUILDTIME}' -w -s -buildid="
        elif [ "${{ matrix.arch }}" == "windowst" ]; then
          go build -v -trimpath -o output/mihomo.exe \
            -tags "with_gvisor" \
            -trimpath \
            -ldflags "${BUILD_TAGS} -X 'github.com/metacubex/mihomo/constant.Version=${VERSION}' -X 'github.com/metacubex/mihomo/constant.BuildTime=${BUILDTIME}' -w -s -buildid="
          cp output/mihomo.exe output/mihomo-windows-$VERSION-${{ matrix.arch }}.exe
          zip -r output/mihomo-windows-$VERSION-${{ matrix.arch }}.zip output/mihomo-windows-$VERSION-${{ matrix.arch }}.exe
        fi
        echo "status=success" >> ${GITHUB_OUTPUT}

    - name: Packages DEB
      if: ${{ matrix.arch != 'metacubexd' }}
      id: deb
      working-directory: /builder
      run: |
        cd mihomo
        fpm -s dir -t deb \
          -n mihomo \
          -v "$VERSION" \
          -p "output/mihomo-linux-${VERSION}-${{ matrix.arch }}.deb" \
          --architecture ${{ matrix.arch }} \
          output/mihomo=/usr/bin/mihomo
        curl -Lo '/tmp/debsigs.diff' 'https://gitlab.com/debsigs/debsigs/-/commit/160138f5de1ec110376d3c807b60a37388bc7c90.diff'
        sudo patch /usr/bin/debsigs < '/tmp/debsigs.diff'
        rm -rf $HOME/.gnupg
        gpg --pinentry-mode loopback --passphrase "${{ secrets.GPG_PASSPHRASE }}" --import <<EOF
        ${{ secrets.GPG_KEY }}
        EOF
        debsigs --sign=origin -k ${{ secrets.GPG_KEY_ID }} --gpgopts '--pinentry-mode loopback --passphrase "${{ secrets.GPG_PASSPHRASE }}"' output/*.deb
        echo "status=success" >> ${GITHUB_OUTPUT}

    - name: Package RPM
      if: ${{ matrix.arch != 'metacubexd' }}
      id: rpm
      working-directory: /builder
      run: |
        cd mihomo
        fpm -s dir -t rpm \
          -n mihomo \
          -v "$VERSION" \
          -p "output/mihomo-linux-${VERSION}-${{ matrix.arch }}.rpm" \
          --architecture ${{ matrix.arch }} \
          output/mihomo=/usr/bin/mihomo
        cat > $HOME/.rpmmacros <<EOF
        %_gpg_name ${{ secrets.GPG_KEY_ID }}
        %_gpg_sign_cmd_extra_args --pinentry-mode loopback --passphrase ${{ secrets.GPG_PASSPHRASE }}
        EOF
        gpg --pinentry-mode loopback --passphrase "${{ secrets.GPG_PASSPHRASE }}" --import <<EOF
        ${{ secrets.GPG_KEY }}
        EOF
        rpmsign --addsign output/*.rpm
        echo "status=success" >> ${GITHUB_OUTPUT}

    - name: Package Pacman
      if: ${{ matrix.arch != 'metacubexd' }}
      id: pacman
      working-directory: /builder
      run: |
        cd mihomo
        fpm -s dir -t pacman \
          -n mihomo \
          -v "$VERSION" \
          -p "output/mihomo-linux-${VERSION}-${{ matrix.arch }}.pkg.tar.zst" \
          --architecture ${{ matrix.arch }} \
          output/mihomo=/usr/bin/mihomo
        echo "status=success" >> ${GITHUB_OUTPUT}

    - name: Compile Metacubexd
      if: ${{ matrix.arch == 'metacubexd' }}
      id: metacubexd
      working-directory: /builder    
      run: |
        cd metacubexd
        sed -i "s/\"version\": \".*\"/\"version\": \"$VERSION\"/" package.json
        pnpm install
        NUXT_APP_BASE_URL='./' pnpm generate
        tar czvf compressed-dist.tgz -C .output/public .

    - name: Update Metacubexd version File
      if: ${{ matrix.arch == 'metacubexd' }}
      working-directory: ${{ github.workspace }}
      id: file
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        for file in template/MihomoPro.yaml template/OneSmart.yaml template/OneSmartPro.yaml template/OneTouch.yaml; do
            sed -i "s|^external-ui-url: .*|external-ui-url: https://github.com/Xiaokailnol/mihomo-template/releases/download/v$VERSION/compressed-dist.tgz|" "$file"
        done
        git add template/*.yaml
        git commit -m "Metacubexd: bump to $VERSION"
        git push
          
    - name: Upload mihomo artifacts
      if: ${{ matrix.arch != 'metacubexd' }}
      uses: actions/upload-artifact@v4
      with:
        name: mihomo_${{ env.VERSION }}_${{ matrix.arch }}
        path: ${{ env.build_dir }}/mihomo/output/*

    - name: Upload metacubexd artifacts
      if: ${{ matrix.arch == 'metacubexd' }}
      uses: actions/upload-artifact@v4
      with:
        name: mihomo_${{ env.VERSION }}_${{ matrix.arch }}
        path: ${{ env.build_dir }}/metacubexd/compressed-dist.tgz

    - name: Create metacubexd release
      if: ${{ matrix.arch == 'metacubexd' }}
      uses: ncipollo/release-action@v1
      with:
        name: v${{ env.VERSION }}
        tag: v${{ env.VERSION }}
        commit: master
        allowUpdates: true
        replacesArtifacts: true
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: |
          ${{ env.build_dir }}/metacubexd/compressed-dist.tgz
          
    - name: Create mihomo release
      if: ${{ matrix.arch != 'metacubexd' }}
      uses: ncipollo/release-action@v1
      with:
        name: v${{ env.VERSION }}
        tag: v${{ env.VERSION }}
        commit: master
        allowUpdates: true
        replacesArtifacts: true
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: |
          ${{ env.build_dir }}/mihomo/output/*.deb
          ${{ env.build_dir }}/mihomo/output/*.rpm
          ${{ env.build_dir }}/mihomo/output/*.pkg.tar.zst
          ${{ env.build_dir }}/mihomo/output/*.zip
