name: Mihomo Android AMD64

on:
  workflow_call:
    inputs:
      VERSION:
        required: true
        type: string
      MIHOMO_URL:
        required: true
        type: string
      MIHOMO_BRANCH:
        required: true
        type: string
      BUILD_TAGS:
        required: true
        type: string
      BUILD_DIR:
        required: true
        type: string

env:
  VERSION: ${{inputs.VERSION}}
  MIHOMO_URL: ${{inputs.MIHOMO_URL}}
  MIHOMO_BRANCH: ${{inputs.MIHOMO_BRANCH}}
  BUILD_TAGS: ${{inputs.BUILD_TAGS}}
  BUILD_DIR: ${{inputs.BUILD_DIR}}

jobs:
  setup:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Show system info
      uses: Xiaokailnol/actions@show-system

    - name: Free disk space
      uses: Xiaokailnol/actions@free-disk
      with:
        build-mount-path: /builder

    - name: Build System Setup
      uses: Xiaokailnol/actions@mihomo-build-setup

    - name: Setup Android NDK
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r28
        local-cache: true
    
    - name: Clone Source Code
      working-directory: /builder
      id: clone
      run: |
        git clone $MIHOMO_URL -b $MIHOMO_BRANCH mihomo
        echo "BUILDTIME=$(date)" >> $GITHUB_ENV
