name: Mihomo Linux ARM64

on:
  workflow_call:
    inputs:
      VERSION:
        required: true
        type: string
      MIHOMO_URL:
        required: true
        type: string
      MIHOMO_BRANCH:
        required: true
        type: string
      BUILD_TAGS:
        required: true
        type: string
      BUILD_DIR:
        required: true
        type: string
        
env:
  VERSION: ${{inputs.VERSION}}
  MIHOMO_URL: ${{inputs.MIHOMO_URL}}
  MIHOMO_BRANCH: ${{inputs.MIHOMO_BRANCH}}
  BUILD_TAGS: ${{inputs.BUILD_TAGS}}
  BUILD_DIR: ${{inputs.BUILD_DIR}}  
  
jobs:
  setup:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Show system info
      uses: Xiaokailnol/actions@show-system

    - name: Free disk space
      uses: Xiaokailnol/actions@free-disk
      with:
        build-mount-path: /builder

    - name: Build System Setup
      uses: Xiaokailnol/actions@mihomo-build-setup

    - name: Clone Source Code
      working-directory: /builder
      id: clone
      run: |
        git clone $MIHOMO_URL -b $MIHOMO_BRANCH mihomo
        echo "BUILDTIME=$(date)" >> $GITHUB_ENV

    - name: Compile Packages
      id: compile
      working-directory: /builder
      run: |
        cd mihomo && mkdir -p output
        go env
        GOOS=linux GOARCH=arm64 go build -v -tags "with_gvisor" -trimpath -ldflags "${BUILDTAG} -X 'github.com/metacubex/mihomo/constant.Version=${VERSION}' -X 'github.com/metacubex/mihomo/constant.BuildTime=${BUILDTIME}' -w -s -buildid="

    - name: Packages DEB
      id: deb
      working-directory: /builder
      run: |
        cd mihomo
        fpm -s dir -t deb \
          -n mihomo \
          -v "$VERSION" \
          -p "output/mihomo-linux-${VERSION}-amd64.deb" \
          --architecture arm64 \
          mihomo=/usr/bin/mihomo

    - name: Package RPM
      id: rpm
      working-directory: /builder
      run: |
        cd mihomo
        fpm -s dir -t rpm \
          -n mihomo \
          -v "$VERSION" \
          -p "output/mihomo-linux-${VERSION}-amd64-${VERSION}.rpm" \
          --architecture aarch64 \
          mihomo=/usr/bin/mihomo

    - name: Package Pacman
      id: pacman
      working-directory: /builder
      run: |
        cd mihomo
        fpm -s dir -t pacman \
          -n mihomo \
          -v "$VERSION" \
          -p "output/mihomo-linux-${VERSION}-arm64-${VERSION}.pkg.tar.zst" \
          --architecture aarch64 \
          mihomo=/usr/bin/mihomo

    - name: Upload mihomo artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mihomo_linux_arm64_${{ env.VERSION }}
        path: ${{ env.BUILD_DIR }}/mihomo/output/*

    - name: Create mihomo release
      uses: ncipollo/release-action@v1
      with:
        name: v${{ env.VERSION }}
        tag: v${{ env.VERSION }}
        commit: master
        allowUpdates: true
        replacesArtifacts: true
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: |
          ${{ env.BUILD_DIR }}/mihomo/output/*.deb
          ${{ env.BUILD_DIR }}/mihomo/output/*.rpm
          ${{ env.BUILD_DIR }}/mihomo/output/*.pkg.tar.zst    
