name: Trigger All Workflows

on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * 5"  # 北京时间星期六凌晨4点

jobs:
  setup:
    runs-on: ubuntu-24.04
    outputs:
      VERSION: ${{ steps.calc_version.outputs.VERSION }}
    steps:
      - name: Setup environment and calculate version
        id: calc_version
        run: |
          sudo timedatectl set-timezone 'Asia/Shanghai'
          latest_tag=$(curl -s "https://api.github.com/repos/Xiaokailnol/mihomo-template/releases/latest" | jq -r '.tag_name // "1.0.0"')
          latest_tag="${latest_tag#v}"
          IFS='.' read -r major minor patch <<< "$latest_tag"
          patch=$((patch + 1))
          if [ "$patch" -gt 10 ]; then
              patch=0
              minor=$((minor + 1))
          fi
          if [ "$minor" -gt 10 ]; then
              minor=0
              major=$((major + 1))
          fi
          VERSION="$major.$minor.$patch"
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "Build version: $VERSION"

  Mihomo-Linux-AMD64:
    needs: setup
    uses: ./.github/workflows/Mihomo-Linux-AMD64.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      MIHOMO_URL: https://github.com/MetaCubeX/mihomo
      MIHOMO_BRANCH: Alpha
      BUILD_TAGS: -extldflags --static
      
  Mihomo-Linux-ARM64:
    needs: setup
    uses: ./.github/workflows/Mihomo-Linux-ARM64.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      MIHOMO_URL: https://github.com/MetaCubeX/mihomo
      MIHOMO_BRANCH: Alpha
      BUILD_TAGS: -extldflags --static

  Mihomo-Windows-AMD64:
    needs: setup
    uses: ./.github/workflows/Mihomo-Windows-AMD64.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      MIHOMO_URL: https://github.com/MetaCubeX/mihomo
      MIHOMO_BRANCH: Alpha
      BUILD_TAGS: -extldflags --static

  Mihomo-Windows-ARM64:
    needs: setup
    uses: ./.github/workflows/Mihomo-Windows-ARM64.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      MIHOMO_URL: https://github.com/MetaCubeX/mihomo
      MIHOMO_BRANCH: Alpha
      BUILD_TAGS: -extldflags --static

  Mihomo-Metacubexd:
    needs: setup
    uses: ./.github/workflows/Mihomo-Metacubexd.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      METACUBEXD_URL: https://github.com/MetaCubeX/metacubexd
      METACUBEXD_BRANCH: main
