name: Trigger All Workflows

on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * 5"  # 北京时间星期六凌晨4点

jobs:
  setup:
    runs-on: ubuntu-24.04
    outputs:
      VERSION: ${{ steps.calc_version.outputs.VERSION }}
    steps:
      - name: Setup environment and calculate version
        id: calc_version
        run: |
          sudo timedatectl set-timezone 'Asia/Shanghai'
          latest_tag=$(curl -s "https://api.github.com/repos/Xiaokailnol/mihomo-template/releases/latest" | jq -r '.tag_name // "1.0.0"')
          latest_tag="${latest_tag#v}"
          IFS='.' read -r major minor patch <<< "$latest_tag"
          patch=$((patch + 1))
          if [ "$patch" -gt 10 ]; then
              patch=0
              minor=$((minor + 1))
          fi
          if [ "$minor" -gt 10 ]; then
              minor=0
              major=$((major + 1))
          fi
          VERSION="$major.$minor.$patch"
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "Build version: $VERSION"

  Mihomo-Linux-AMD64:
    needs: setup
    uses: ./.github/workflows/Mihomo-Linux-AMD64.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      MIHOMO_URL: https://github.com/MetaCubeX/mihomo
      MIHOMO_BRANCH: Alpha
      BUILD_TAGS: -extldflags --static
      BUILD_DIR: /builder
      
  Mihomo-Linux-ARM64:
    needs: setup
    uses: ./.github/workflows/Mihomo-Linux-ARM64.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      MIHOMO_URL: https://github.com/MetaCubeX/mihomo
      MIHOMO_BRANCH: Alpha
      BUILD_TAGS: -extldflags --static
      BUILD_DIR: /builder

  Mihomo-Windows-AMD64:
    needs: setup
    uses: ./.github/workflows/Mihomo-Windows-AMD64.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      MIHOMO_URL: https://github.com/MetaCubeX/mihomo
      MIHOMO_BRANCH: Alpha
      BUILD_TAGS: -extldflags --static
      BUILD_DIR: /builder
      
  Mihomo-Windows-ARM64:
    needs: setup
    uses: ./.github/workflows/Mihomo-Windows-ARM64.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      MIHOMO_URL: https://github.com/MetaCubeX/mihomo
      MIHOMO_BRANCH: Alpha
      BUILD_TAGS: -extldflags --static
      BUILD_DIR: /builder
      
  Mihomo-Android-AMD64:
    needs: setup
    uses: ./.github/workflows/Mihomo-Android-AMD64.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      MIHOMO_URL: https://github.com/MetaCubeX/mihomo
      MIHOMO_BRANCH: Alpha
      BUILD_TAGS: -extldflags --static
      BUILD_DIR: /builder
      
  Mihomo-Android-ARM64:
    needs: setup
    uses: ./.github/workflows/Mihomo-Android-ARM64.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      MIHOMO_URL: https://github.com/MetaCubeX/mihomo
      MIHOMO_BRANCH: Alpha
      BUILD_TAGS: -extldflags --static
      BUILD_DIR: /builder
      
  Mihomo-Metacubexd:
    needs: setup
    uses: ./.github/workflows/Mihomo-Metacubexd.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      METACUBEXD_URL: https://github.com/MetaCubeX/metacubexd
      METACUBEXD_BRANCH: main
      BUILD_DIR: /builder

  Mihomo-Zashboard:
    needs: setup
    uses: ./.github/workflows/Mihomo-Zashboard.yml
    with:
      VERSION: ${{ needs.setup.outputs.VERSION }}
      ZASHBOARD_URL: https://gitea.kejizero.xyz/zhao/zashboard
      ZASHBOARD_BRANCH: master
      BUILD_DIR: /builder
      
  sync_template:
    needs:
      - Mihomo-Linux-AMD64
      - Mihomo-Linux-ARM64
      - Mihomo-Windows-AMD64
      - Mihomo-Windows-ARM64
      - Mihomo-Android-AMD64
      - Mihomo-Android-ARM64
      - Mihomo-Metacubexd
      - Mihomo-Zashboard
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      
    - name: Update Metacubexd version File
      working-directory: ${{ github.workspace }}
      id: file
      run: |      
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        export latest_tag=$(curl -s "https://api.github.com/repos/Xiaokailnol/mihomo-template/releases/latest" | jq -r '.tag_name // "1.0.0"')
        for file in template/MihomoPro.yaml template/OneSmart.yaml template/OneSmartPro.yaml template/OneTouch.yaml template/OfficialGeoX.yaml template/OfficialRuleSet.yaml; do
            sed -i "s|^external-ui-url: .*|external-ui-url: https://github.com/Xiaokailnol/mihomo-template/releases/download/$latest_tag/zashboard-dist.zip|" "$file"
        done
        git add template/*.yaml
        git commit -m "Metacubexd: bump to $latest_tag"
        git push
